<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mcband &mdash; project for CSCI3100</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

		<style>
			input[type=search] {
				width: 130px;
				-webkit-transition: width 0.4s ease-in-out;
				transition: width 0.4s ease-in-out;
			}

			/* When the input field gets focus, change its width to 100% */
			input[type=search]:focus {
				width: 100%;
			}
.searchicon {
  background: transparent;
  border: none;
  margin-bottom: 20px;
}
.searchicon:active, .searchicon:focus {
  outline: none;
  box-shadow: none;
  border-color: #fff;
}

#fh5co-featured-menu .fh5co-bg-img {
	height: 200px;
	background-size: cover;
}




.mySlides {display: none}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 300px;
  width: auto;
  padding: 16px;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.middle{
	position: relative;
	top: 25px;

}

			.scroll {
				width: 100%;
				height: 100%;
				background-color: transparent;
				overflow: auto;
				white-space: nowrap;
			}
			.scroll .individual{
				display: inline-block;
				text-align: center;
				margin-left: 10px;
				margin-right: 10px;
			}
			.scroll .individual p{
				margin-top: -50px;
				color: #ffffff;
			}
			.scroll .individual img{
				height: 180px;
				width:auto;/*maintain aspect ratio*/
				max-width:300px;
			}

			.individual:hover img{
				opacity: 0.3;
			}

			.individual:hover .middle{
				opacity: 1.0;
				top: -30%;
			}

		/*.eventsinfo::-webkit-scrollbar{
			width:5px;
		}*/
		.eventsinfo::-webkit-scrollbar{
			border-radius: 5px;
			background:rgba(255,255,255,.1);
		}


		</style>


		<!-- get event list -->
		<script>
            var xmlhttp, myObj, x, txt = "";
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    myObj = JSON.parse(this.responseText);
                    if(myObj == null){
                        txt += "No events for now. Create your own!";
                    }
                    else{
                        // txt += "<div class=\"section-heading\">";
                        // txt += "<div id=\"fh5co-timeline\" class=\"col-sm-1\">";
                        txt += "<div class=\"container\">";
                        txt += "<div class=\"row\">";
                        txt += "<div class=\"col-md-offset-0\">";
                        txt += "<ul class=\"timeline animate-box\">";

                        txt += "<li class=\"timeline-heading text-center animate-box\">";
                        txt += "<div><h3>Recent event</h3></div>";
                        txt += "</li>";

                        for (x in myObj) {
                            if(x % 2 == 0){
                                txt += "<li class=\"animate-box timeline-unverted\">";
                            }
                            else if(x % 2 == 1){
                                txt += "<li class=\"timeline-inverted animate-box\">";
                            }
                            txt += "<div class=\"timeline-badge\"><i class=\"icon-genius\"></i></div>";
                            txt += "<div class=\"timeline-panel\">";
                            txt += "<div class=\"timeline-heading\">";
                            txt += "<h3 class=\"timeline-title\">"+myObj[x].eventname+"</h3>";
                            txt += "</div>";
                            txt += "<div class=\"timeline-body\">";
                            txt += "<p>"+myObj[x].date+myObj[x].venue+"</p>";
                            txt += "</div>";
                            txt += "</div>";
                            txt += "</li>";
                        }
                        txt += "</ul>";
                        txt += "</div>";
                        txt += "</div>";
                        txt += "</div>";
                        // txt += "</div>";
                        // txt += "</div>";

                    }
                    console.log("txt is"+txt);
                    document.getElementById("fh5co-timeline").innerHTML = txt;
                }
            };
            xmlhttp.open("POST", "/send-event", true);
            xmlhttp.send();
		</script>

	</head>









	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<div id="fh5co-logo"><a href="index.html">McBand<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="musiclibrary.html">Music library</a></li>
							<!--<li><a href="community.html">Community</a></li>-->
							<li class="active"><a href="event.html">Event</a></li>
							<li><a href="account.html">Account</a></li>
							<!--<button href="signuporlogin.html" class=" btn btn-primary btn-outline ml-2 my-sm-0" style="float: right" type="submit"><a>login/signup</a></button>-->
							<!-- <a href="sign.html" class="button" style="float:right"><i class="icon-user2">   Login</i></a> -->
						</ul>
					</div>
				</div>
				
			</div>
			<% if (locals.logInfo == null) { %>
				<a href="sign.html" class="button" style="float:right; margin-top: -30px; margin-right: 150px;"><i class="icon-user2">   Login</i></a>
			<% } else { %>
				<form action="http://127.0.0.1:8888/logout" method="GET"><a style="float:right; margin-top: -30px; margin-right: 150px;">Hi,<%=locals.logInfo.name %>! <input type="submit" style="border:0 none; background: transparent;" value="Logout"/></a></form>
			<% } %>
		<!-- </div> -->
	</nav>


	<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(images/hero_1.jpeg); margin-bottom: 10px;width:100%;height:400px;" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
	</div>


	<div id="fh5co-featured-testimony" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<br><br>
					<h2>Find Interesting Event</h2>
					<div class="row">

						<!--searching bar-->
						<div class="col-md-12">
							<input type="search" class="form-control" name="search" placeholder="Search..">
							<button type="submit" class="searchicon"><i class="icon-search2"></i></button>
						</div>
                        <!--highlight event-->
						<div id="fh5co-featured-menu" class="fh5co-section">
							<div class="container">

								<section id="all_event_list" class="scroll container animate-box"  style="margin-top: -100px;">

									<div class="individual">
										<!--Event Image-->
										<img src="images/event_pics/musicparty.jpg" alt="musicparty">
										<div class="middle">
											<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button" onclick="myMap()">Details</a>
											<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
										</div>
										<br><br>
										<h3>Music Party</h3>
										<p>7th April</p>
									</div>

									<div class="individual">
										<!--Event Image-->
										<img src="images/event_pics/musicparty.jpg" alt="musicparty">
										<div class="middle">
											<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button" onclick="myMap()">Details</a>
											<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
										</div>
										<br><br>
										<h3>Music Party</h3>
										<p>7th April</p>
									</div>
									<div class="individual">
										<!--Event Image-->
										<img src="images/event_pics/musicparty.jpg" alt="musicparty">
										<div class="middle">
											<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button" onclick="myMap()">Details</a>
											<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
										</div>
										<br><br>
										<h3>Music Party</h3>
										<p>7th April</p>
									</div>

								</section>
								<!-- get all events -->
								<script>
                                    var xmlhttp, myObj, x, txt = "";
                                    xmlhttp = new XMLHttpRequest();
                                    xmlhttp.onreadystatechange = function() {
                                        if (this.readyState == 4 && this.status == 200) {
                                            myObj = JSON.parse(this.responseText);
                                            for (x in myObj) {
                                                txt += "<div class= \"individual\">";
                                                txt += "<img src=\"myObj[x].eventPic\" alt=\"myObj[x].eventName\">";
                                                txt += "<div class=\"middle\">";
                                                txt += "<a href=\"#eventinfo\" class=\"btn btn-primary btn-outline btn-lg\" role=\"button\" onclick=\"myMap()\">Details</a>";
                                                txt += "<button type=\"submit\" class=\"btn btn-primary btn-outline btn-lg\"><i class=\"icon-heart\"></i></button>";
                                                txt += "</div>";
                                                txt += "<br><br>";
                                                txt += "<h3>"+myObj[x].eventName</h3>";
                                                txt += "<p>"+myObj[x].eventDate+"</p>"
                                            }

                                        }
                                        document.getElementById("all_event_list").innerHTML = txt;
                                    };
                                    xmlhttp.open("POST", "http://127.0.0.1:8888/get_all_user", true);
                                    xmlhttp.send();

								</script>

							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>

	




	<div id="fh5co-about" class="fh5co-section">
		<div class="container">
			    <!--map-->
				<div id="eventinfo" class="col-md-6" style="width:100%;height:600px;margin-top: -300px;">
					<div id="googleMap" style="width:60%;height:600px;"></div>
					<script>
						function mapInitiate(){
							//map options
  							var mapOptions = {
  						   		center: new google.maps.LatLng(22.38333,114.18333),
 						   		zoom:15,
 							};

 						 	//new map
 							var map = new google.maps.Map(document.getElementById("googleMap"),mapOptions);
						}
						function myMap() {
							var geocoder = new google.maps.Geocoder();
							var address = document.getElementById('eventaddress').textContent;
 						 	//map options
  							var mapOptions = {
  						   		center: new google.maps.LatLng(22.38333,114.18333),
 						   		zoom:15,
 							};

 						 	//new map
 							var map = new google.maps.Map(document.getElementById("googleMap"),mapOptions);

	  						//decoder: give a address name and show it on the map
	  						if (geocoder) {
	     						geocoder.geocode( { 'address': address}, function(results, status) {
		        					if (status == google.maps.GeocoderStatus.OK) {
		        					  	if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
		        					  		map.setCenter(results[0].geometry.location);
							
		        					    	var infowindow = new google.maps.InfoWindow({ 
		        					    		content: '<b>'+address+'</b>',
		                  						size: new google.maps.Size(150,50)
	        					    	});
							
		            						var marker = new google.maps.Marker({
		        					    	    position: results[0].geometry.location,
		        					    	    map: map, 
		        					    	    title:address
		        					    	}); 
		        					    	google.maps.event.addListener(marker, 'click', function() {
		        					    	    infowindow.open(map,marker);
		        					    	});
					
		        					  	} else {
		        					  	    alert("No results found");
		        					  	}
		        					} else {
		        						alert("Geocode was not successful for the following reason: " + status);
		       						}
	      						});
	   						}
						}
					</script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuDeEqud2hsG_zVQMqPwKYE2FifHFICo&callback=mapInitiate"></script>	
				</div>

				<!--info table-->
				<form id="form-wrap" style="width:40%;height:600px;float: right; margin-top: -600px;">
						<div class="row form-group text-center">
							<div class="col-md-12">
								<p style="font-size: 35px;"><%=eventInfo[0].eventname %></p>
								
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<i class="icon-clock3"></i>
								<p><%=eventInfo[0].date %></p>
								<i class="icon-location3"></i>
								<p id="eventaddress"><%=eventInfo[0].venue %></p>
							</div>
						</div>
								
						<section class="row form-group eventsinfo" style="width: 107%; height: 240px; overflow: scroll;">
							<div class="col-md-12">
								<p><%=eventInfo[0].basicinfo %>
							    </p>
							</div>
						</section>
						<div class="row form-group">
							<div class="col-md-12 large">
								<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button">I will join!</a>
								<button type="submit" class="btn btn-primary btn-outline btn-lg">it is interesting!</button>
							</div>
						</div>
					</form>


				<div id="fh5co-featured-testimony" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<br><br>
					<h2>More Event Here</h2>
				</div>
			</div>
		</div>
	</div>
				<div class="col-md-12 col-md-push-0 animate-box" style="left:0px; margin-top: -350px;"><!--3-->
					<div class="section-heading">
						<div id="fh5co-timeline" class="col-sm-1">
							<div class="container">
								<div class="row">
									<div class="col-md-offset-0">
										<ul class="timeline animate-box">

											<li class="timeline-heading text-center animate-box">
												<div><h3>Recent event</h3></div>
											</li>


											<li class="animate-box timeline-unverted">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Music Party</h3>
								
													</div>
													<div class="timeline-body">
														<p>7th April 2018 15:00 - 24:00 Shatin.</p>
													</div>
												</div>
											</li>


											<li class="timeline-inverted animate-box">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Jazz Marathon</h3>
													</div>
													<div class="timeline-body">
														<p>1st May 2018 - 3rd May 2018. Causeway bay.</p>
													</div>
												</div>
											</li>


											<li class="animate-box timeline-unverted">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Let's Rock'N Roll</h3>
													</div>
													<div class="timeline-body">
														<p>2nd May 2018 19:00 - 24:00. Lan Kwai Fong.</p>
													</div>
												</div>
											</li>


											<br>
											<li class="timeline-heading text-center animate-box">
												<div><h3>More to come</h3></div>
											</li>


											<li class="timeline-inverted animate-box">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Hey Summer! Pop Concert!</h3>
													</div>
													<div class="timeline-body">
														<p>20th May 2018 20:00 - 24:00. Shatin NewTown Plaza.</p>
													</div>
												</div>
											</li>


											<li class="animate-box timeline-unverted">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">The Witness Tour</h3>
													</div>
													<div class="timeline-body">
														<p>31th May 20:00 - 22:00. Hung Hom</p>
													</div>
												</div>
											</li>


											<li class="timeline-inverted animate-box">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Beach Concert</h3>
													</div>
													<div class="timeline-body">
														<p>22th June 15:00 - 24:00. Stanley Beach.</p>
													</div>
												</div>
											</li>
			    						</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		</div>
	</div>



<!--create an event by yourself! need to change a little bit-->
<div id="fh5co-featured-testimony" class="fh5co-section" style="margin-top: -600px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Hold an event yourself!</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Create an event and invite people to join!</p>
						</div>

						<div class="col-md-12">
							<button onclick="document.getElementById('id01').style.display='block' " class="btn btn-primary btn-outline btn-lg">Create</button>
						</div>

						<div id="id01" class="modal">
							<form class="modal-content zoom" action="http://127.0.0.1:8888/event_upload" method="post" enctype="multipart/form-data">
								<div>
									<!--form to fill when create event-->
									<div class="container" style="margin-left: 280px;">
										<div class="row">
											<div class="row form-group">
												<div class="col-md-7">
													<label>Event Picture</label>
													<input type="file" class="form-control" name="event_pic" accept="image/*" required>
											    </div>
                                            </div>
											<div class="row form-group">
												<div class="col-md-7">
													<label>Event Name</label>
													<input type="text" class="form-control" name="eventname" maxlength="24" placeholder="Give your event a name!" required>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-7">
													<label>Venue</label>
													<input type="text" class="form-control" name="venue" required>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-7">
													<label>Date and Time</label>
													<input type="text" class="form-control" name="time" required>
												</div>
											</div>
						
											<div class="row form-group">
												<div class="col-md-7">
													<label>Brief Introduction</label>
													<textarea name="eventinfo" cols="30" rows="3" class="form-control"></textarea>
												</div>
											</div>
											<div class="row form-group" style="margin-bottom: 30px;">
												<div class="col-md-7">
													<input type="submit" class="btn btn-primary btn-outline btn-lg" value="Create Event">
												</div>
											</div>
										</div>
									</div>
		
								</div>
							</form>
						</div>

					</div>
				</div>
				<script>
                    // Get the modal
                    var modal = document.getElementById('id01');

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
				</script>
			</div>
		</div>
	</div>


		<!--footer-->
		<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Join McBand</h2>
						<p>Create an account to upload, comment, make friends and sign up for an event!</p>
						<p><a href="sign.html" class="btn btn-primary btn-outline">Register Now</a></p>
					</div>
				</div>
			</div>
		</div>


				<div class="col-md-12 text-center">
					<p>
						<small class="block"><a>McBand<span>.</span></a> Project for CSCI 3100 <a>Group 16</a></small> 
						<br>
						<small class="block">We Build The <a>Greatest</a> Music Cmmunity<a></a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-facebook2"></i></a></li>
							<li><a href="#"><i class="icon-linkedin2"></i></a></li>
							<li><a href="#"><i class="icon-dribbble2"></i></a></li>
						</ul>
					</p>
				</div>

	<script>
	Zoomerang
      .config({
        maxHeight: 600,
        maxWidth: 900,
        bgColor: '#000',
        bgOpacity: .85
      })
      .listen('[data-trigger="zoomerang"]')
	</script>


	<!--script for slidwindow-->
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  slides[slideIndex-1].style.display = "block";  
}
</script>




	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

