<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Mcband &mdash; project for CSCI3100</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,600i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

		<style>
			input[type=search] {
				width: 130px;
				-webkit-transition: width 0.4s ease-in-out;
				transition: width 0.4s ease-in-out;
			}

			/* When the input field gets focus, change its width to 100% */
			input[type=search]:focus {
				width: 100%;
			}
.searchicon {
  background: transparent;
  border: none;
  margin-bottom: 20px;
}
.searchicon:active, .searchicon:focus {
  outline: none;
  box-shadow: none;
  border-color: #fff;
}

#fh5co-featured-menu .fh5co-bg-img {
	height: 200px;
	background-size: cover;
}




.mySlides {display: none}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 237px;
  width: auto;
  padding: 16px;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.middle{
	position: relative;
	top: 25px;

}


		</style>

	</head>









	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<!-- <div class="top-menu"> -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center logo-wrap">
						<div id="fh5co-logo"><a href="index.html">McBand<span>.</span></a></div>
					</div>
					<div class="col-xs-12 text-center menu-1 menu-wrap">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="musiclibrary.html">Music library</a></li>
							<!--<li><a href="community.html">Community</a></li>-->
							<li class="active"><a href="event.html">Event</a></li>
							<li><a href="account.html">Account</a></li>
							<!--<button href="signuporlogin.html" class=" btn btn-primary btn-outline ml-2 my-sm-0" style="float: right" type="submit"><a>login/signup</a></button>-->
							
						</ul>
					</div>
				</div>
				
			</div>
		<div style="float:right; margin-top: -30px; margin-right: 150px;"><a> Hi,<%=locals.logInfo.name %>!  </a> <a href="sign.html" class="button"><i class="icon-log-out">   Logout</i></a></div>
		<!-- </div> -->
	</nav>


	<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(images/hero_1.jpeg); margin-bottom: 10px;width:100%;height:400px;" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
	</div>


	<div id="fh5co-featured-testimony" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<br><br>
					<h2>Find Interesting Event</h2>
					<div class="row">

						<!--searching bar-->
						<div class="col-md-12">
							<input type="search" class="form-control" name="search" placeholder="Search..">
							<button type="submit" class="searchicon"><i class="icon-search2"></i></button>
						</div>
                        <!--highlight event-->
						<div id="fh5co-featured-menu" class="fh5co-section">
							<div class="container ">
								<div class="row mySlides">
				
									<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
										<div class="fh5co-item">
											<div class="fh5co-bg-img img-responsive" style="background-image: url(images/event_pics/musicparty.jpg);"></div>
											<!--<img src="images/musicparty.jpg" class="img-responsive" alt="Music Party">-->
											<div class="middle">
												<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button">Details</a>
												<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
											</div>
											<h3>Music Party</h3>
											<p>7th April</p>
										</div>
									</div>


									<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
										<div class="fh5co-item">
											<div class="fh5co-bg-img img-responsive" style="background-image: url(images/event_pics/jazz.jpg);" ></div>
											<!--<img src="images/jazz.jpg" class="img-responsive" alt="Jazz Marathon">-->
											<div class="middle">
												<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button">Details</a>
												<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
											</div>
											<h3>Jazz Marathon</h3>
											<p>1st May</p>
										</div>
									</div>

									<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
										<div class="fh5co-item">						
											<div class="fh5co-bg-img img-responsive" style="background-image: url(images/event_pics/pop.jpg);" ></div>
											<!--<img src="images/pop.jpg" class="img-responsive" alt="Pop Music">-->
											<div class="middle">
												<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button">Details</a>
												<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
											</div>
											<h3>Hey Summer!</h3><!--might have bug-->
											<p>20th May</p>
										</div>
									</div>


									<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
										<div class="fh5co-item ">
											<div class="fh5co-bg-img img-responsive" style="background-image: url(images/event_pics/beach.jpg);" ></div>
											<!--<img src="images/beach.jpg" class="img-responsive" alt="beach party">-->
											<div class="middle">
												<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button" style="padding: 3px;">Details</a>
												<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
											</div>
											<h3>Beach Concert</h3>
											<p>22th June</p>
										</div>
									</div>		
								</div>
								<div class="row mySlides">
				
									<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
										<div class="fh5co-item">
											<div class="fh5co-bg-img img-responsive" style="background-image: url(images/event_pics/musicparty.jpg);" ></div>
											<!--<img src="images/musicparty.jpg" class="img-responsive" alt="Music Party">-->
											<div class="middle">
												<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button">Details</a>
												<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
											</div>
											<h3>Music Party</h3>
											<p>7th April</p>
										</div>
									</div>


									<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
										<div class="fh5co-item">
											<div class="fh5co-bg-img img-responsive" style="background-image: url(images/event_pics/jazz.jpg);" ></div>
											<!--<img src="images/jazz.jpg" class="img-responsive" alt="Jazz Marathon">-->
											<div class="middle">
												<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button">Details</a>
												<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
											</div>
											<h3>Jazz Marathon</h3>
											<p>1st May</p>
										</div>
									</div>

									<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
										<div class="fh5co-item">
											<div class="fh5co-bg-img img-responsive" style="background-image: url(images/event_pics/jazz.jpg);" ></div>
											<!--<img src="images/jazz.jpg" class="img-responsive" alt="Jazz Marathon">-->
											<div class="middle">
												<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button">Details</a>
												<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
											</div>
											<h3>Jazz Marathoneeeeeeeeeee</h3>
											<p>1st May</p>
										</div>
									</div>


									<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
										<div class="fh5co-item">
											<div class="fh5co-bg-img img-responsive" style="background-image: url(images/event_pics/jazz.jpg);" ></div>
											<!--<img src="images/jazz.jpg" class="img-responsive" alt="Jazz Marathon">-->
											<div class="middle">
												<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button">Details</a>
												<button type="submit" class="btn btn-primary btn-outline btn-lg"><i class="icon-heart"></i></button>
											</div>
											<h3>Jazz Marathon</h3>
											<p>1st May</p>
										</div>
									</div>
								</div>
							</div>
							<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							<a class="next" onclick="plusSlides(1)">&#10095;</a>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>

	




	<div id="fh5co-about" class="fh5co-section">
		<div class="container">
			    <!--map-->
				<div id="eventinfo" class="col-md-6" style="width:100%;height:600px;margin-top: -300px;">
					<div id="googleMap" style="width:60%;height:600px;"></div>
					<script>
					function myMap() {
 					 //map options
  					var mapOptions = {
  					  center: new google.maps.LatLng(22.38333,114.18333),
 					   zoom:15,
 					 };

 					 //new map
 					 var map = new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  					//add marker
  					var marker = new google.maps.Marker({
  						position:{lat:22.38333,lng:114.18333},
  						map:map
  						//icon:'a link here'    to change the marker
 					 });
					}
					</script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuDeEqud2hsG_zVQMqPwKYE2FifHFICo&callback=myMap"></script>	
				</div>

				<!--info table-->
				<form id="form-wrap" style="width:40%;height:600px;float: right; margin-top: -600px;">
						<div class="row form-group text-center">
							<div class="col-md-12">
								<p style="font-size: 35px;">Jazz Marathon</p>
								
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<i class="icon-clock3"></i>
								<p>1st May 2018 - 3rd May 2018.</p>
								<i class="icon-location3"></i>
								<p>Causeway bay.</p>
							</div>
						</div>
								
						<div class="row form-group">
							<div class="col-md-12">
								<p>some intro about the event. </p>
								<p>some intro about the event. </p>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12 large" style="margin-top: 100px;">
								<a href="#eventinfo" class="btn btn-primary btn-outline btn-lg" role="button">I will join!</a>
								<button type="submit" class="btn btn-primary btn-outline btn-lg">it is interesting!</button>
							</div>
						</div>
					</form>



				<div class="col-md-12 col-md-push-0 animate-box" style="left:0px;"><!--3-->
					<div class="section-heading">
						<div id="fh5co-timeline" class="col-sm-1">
							<div class="container">
								<div class="row">
									<div class="col-md-offset-0">
										<ul class="timeline animate-box">

											<li class="timeline-heading text-center animate-box">
												<div><h3>Recent event</h3></div>
											</li>


											<li class="animate-box timeline-unverted">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Music Party</h3>
								
													</div>
													<div class="timeline-body">
														<p>7th April 2018 15:00 - 24:00 Shatin.</p>
													</div>
												</div>
											</li>


											<li class="timeline-inverted animate-box">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Jazz Marathon</h3>
													</div>
													<div class="timeline-body">
														<p>1st May 2018 - 3rd May 2018. Causeway bay.</p>
													</div>
												</div>
											</li>


											<li class="animate-box timeline-unverted">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Let's Rock'N Roll</h3>
													</div>
													<div class="timeline-body">
														<p>2nd May 2018 19:00 - 24:00. Lan Kwai Fong.</p>
													</div>
												</div>
											</li>


											<br>
											<li class="timeline-heading text-center animate-box">
												<div><h3>More to come</h3></div>
											</li>


											<li class="timeline-inverted animate-box">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Hey Summer! Pop Concert!</h3>
													</div>
													<div class="timeline-body">
														<p>20th May 2018 20:00 - 24:00. Shatin NewTown Plaza.</p>
													</div>
												</div>
											</li>


											<li class="animate-box timeline-unverted">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">The Witness Tour</h3>
													</div>
													<div class="timeline-body">
														<p>31th May 20:00 - 22:00. Hung Hom</p>
													</div>
												</div>
											</li>


											<li class="timeline-inverted animate-box">
												<div class="timeline-badge"><i class="icon-genius"></i></div>
												<div class="timeline-panel">
													<div class="timeline-heading">
														<h3 class="timeline-title">Beach Concert</h3>
													</div>
													<div class="timeline-body">
														<p>22th June 15:00 - 24:00. Stanley Beach.</p>
													</div>
												</div>
											</li>


			    						</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		</div>
	</div>



<!--create an event by yourself! need to change a little bit-->
<div id="fh5co-featured-testimony" class="fh5co-section" style="margin-top: -600px;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Hold an event yourself!</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Create an event and invite people to join!</p>
						</div>

						<div class="col-md-12">
							<button onclick="document.getElementById('id01').style.display='block' " class="btn btn-primary btn-outline btn-lg">Create</button>
						</div>

						<div id="id01" class="modal">
							<form class="modal-content zoom" action="http://127.0.0.1:8888/event_upload" method="post">
								<div>
									<!--form to fill when create event-->
									<div class="container">
										<div class="row">
											<div class="row form-group">
												<div class="col-md-7">
													<label>Event Picture</label>
													<input type="file" class="form-control" name="event_pic" accept="image/*" required>
											    </div>
                                            </div>
											<div class="row form-group">
												<div class="col-md-7">
													<label>Event Name</label>
													<input type="text" class="form-control" name="eventname" maxlength="24" placeholder="Give your event a name!" required>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-7">
													<label>Venue</label>
													<input type="text" class="form-control" name="venue" required>
												</div>
											</div>
											<div class="row form-group">
												<div class="col-md-7">
													<label>Date and Time</label>
													<input type="text" class="form-control" name="time" required>
												</div>
											</div>
						
											<div class="row form-group">
												<div class="col-md-7">
													<label>Brief Introduction</label>
													<textarea name="eventinfo" cols="30" rows="3" class="form-control"></textarea>
												</div>
											</div>
											<div class="row form-group" style="margin-bottom: 30px;">
												<div class="col-md-7">
													<input type="submit" class="btn btn-primary btn-outline btn-lg" value="Create Event">
												</div>
											</div>
										</div>
									</div>
		
								</div>
							</form>
						</div>

					</div>
				</div>
				<script>
                    // Get the modal
                    var modal = document.getElementById('id01');

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
				</script>
			</div>
		</div>
	</div>


		<!--footer-->
		<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>Join McBand</h2>
						<p>Create an account to upload, comment, make friends and sign up for an event!</p>
						<p><a href="sign.html" class="btn btn-primary btn-outline">Register Now</a></p>
					</div>
				</div>
			</div>
		</div>


				<div class="col-md-12 text-center">
					<p>
						<small class="block"><a>McBand<span>.</span></a> Project for CSCI 3100 <a>Group 16</a></small> 
						<br>
						<small class="block">We Build The <a>Greatest</a> Music Cmmunity<a></a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter2"></i></a></li>
							<li><a href="#"><i class="icon-facebook2"></i></a></li>
							<li><a href="#"><i class="icon-linkedin2"></i></a></li>
							<li><a href="#"><i class="icon-dribbble2"></i></a></li>
						</ul>
					</p>
				</div>

	<script>
		Zoomerang
      .config({
        maxHeight: 600,
        maxWidth: 900,
        bgColor: '#000',
        bgOpacity: .85
      })
      .listen('[data-trigger="zoomerang"]')
	</script>


	<!--script for slidwindow-->
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>




	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

